SPACETIME_HOST=http://127.0.0.1:3000
SPACETIME_DB=tab-local
SPACETIME_AUTH_TOKEN=
VITE_SPACETIME_HOST=ws://127.0.0.1:3000
VITE_SPACETIME_DB=tab-local
NESSIE_API_KEY=
NESSIE_BASE_URL=https://prod-api.nessieisreal.com
DEMO_STARTING_BALANCE=50000
DEMO_MODE=false
